*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header{
    background-color: #EDBD00;
    display: flex;
    justify-content: space-between;
}

#icon_header{
    display: flex;
    background: none;
    border: none;
    width: 10%;
}

.icones_direita{
    display: flex;
    align-items: center;
    gap: 1vw;
    margin-right: 1.5%;
}

.icone_esquerda, .icones_direita p, .icones_direita img {
    cursor: pointer;
}

main{
    display: flex;
    background-color: #2C2A2A;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    gap: 2vw;
}

#link_pesquisa{
    width: 50%;
    height: 4vh;
    text-align: center;
    color: gray;
}
#resultado_pesquisa{
    width: 50%;
    padding-bottom: 20%;
    text-align: start;
    font-size: 2vh;
    resize: none;
}

#resultado_link_pesquisa{
    width: 50%;
    height: 4vh;
}

#link_pesquisa, #resultado_pesquisa, #resultado_link_pesquisa{
    border-radius: 5px;
}
